extend include/template_base

block variables
	-
		var title = 'Лэндинг';


block content
	.review-pillow
		.review-pillow__container.container
			.review-pillow__wrap
				.review-pillow__img-box
					img.review-pillow__img(src="assets/img/review-pillow/pillow_blue.png", alt='')
					.review-pillow__title
						| Благодарим за то,
						br
						| что выбрали подушку
						br
						| Blue Sleep Memory с пеной IQ Foam!
				.review-pillow__desc
					| Будем рады, если вы сможете оставить отзыв о подушке на одном из сайтов.
					br
					| Взамен подарим дополнительную скидку 5% на следующий заказ.
				.review-pillow-link
					.review-pillow-link__list
						a(href="#").review-pillow-link__item
							img.review-pillow-link__img.review-pillow-link__img_pos_1(src="assets/img/review-pillow/pillow-link_1.png", alt='')
						a(href="#").review-pillow-link__item
							img.review-pillow-link__img.review-pillow-link__img_pos_2(src="assets/img/review-pillow/pillow-link_2.png", alt='')
						a(href="#").review-pillow-link__item
							img.review-pillow-link__img.review-pillow-link__img_pos_3(src="assets/img/review-pillow/pillow-link_3.png", alt='')
						a(href="#").review-pillow-link__item
							img.review-pillow-link__img.review-pillow-link__img_pos_4(src="assets/img/review-pillow/pillow-link_4.png", alt='')
						a(href="#").review-pillow-link__item
							img.review-pillow-link__img.review-pillow-link__img_pos_5(src="assets/img/review-pillow/pillow-link_5.png", alt='')
						a(href="#").review-pillow-link__item
							img.review-pillow-link__img.review-pillow-link__img_pos_6(src="assets/img/review-pillow/pillow-link_6.png", alt='')
						a(href="#").review-pillow-link__item
							img.review-pillow-link__img.review-pillow-link__img_pos_7(src="assets/img/review-pillow/pillow-link_7.png", alt='')
				.review-pillow-link__note
					| *В тексте отзыва укажите номер вашего заказа и при следующей покупке вы получите дополнительную скидку 5% на весь заказ

