mixin reviews-stars(data)
	.reviews-stars&attributes(attributes)
		.reviews-stars__wrap
			.reviews-stars__list
				.reviews-stars__item
					img.reviews-stars__img(src="assets/img/reviews_ya/r-star.svg", alt='')
				.reviews-stars__item
					img.reviews-stars__img(src="assets/img/reviews_ya/r-star.svg", alt='')
				.reviews-stars__item
					img.reviews-stars__img(src="assets/img/reviews_ya/r-star.svg", alt='')
				.reviews-stars__item
					img.reviews-stars__img(src="assets/img/reviews_ya/r-star.svg", alt='')
				.reviews-stars__item
					img.reviews-stars__img(src="assets/img/reviews_ya/r-star.svg", alt='')
			.reviews-stars__text 12 часов назад
