mixin topper-screen(data)
	section.topper-screen&attributes(attributes)
		.topper-screen__container.container
			.topper-screen__wrap
				.topper-screen__column.topper-screen__column_pos_1
					.topper-screen__content
						.topper-screen__title
							| Матрас-топпер
							br
							| Blue Sleep Cosmic
							.topper-screen__note новинка
						.topper-screen__desc
							| Оптимальный по высоте, корректирующий, съемный и придающий упругость беспружинный матрас с ортопедическим эффектом, который поможет выровнять любую поверхность спального места.
						.topper-screen__btn-wrap.topper-screen__btn-wrap_show_desc
							a.topper-screen__btn(href="#")  подробнее
				.topper-screen__column.topper-screen__column_pos_2
					.topper-screen__img-box
						img.topper-screen__img(src="assets/img/topper-screen.png", alt='')
					.topper-screen__btn-wrap.topper-screen__btn-wrap_show_tablets
						a.topper-screen__btn(href="#")  подробнее

